<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srdp.admin.time_manager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".model.moudle.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Person_Infor" />
        <activity android:name=".ui.Timesharing_edit" />
        <activity android:name=".ui.Index_Timing_Change" />
        <activity android:name=".ui.Plan_Table" />
        <activity android:name=".ui.assign_table" />
        <activity android:name=".ui.Person_Center" />
        <activity android:name=".ui.CreateScheduleActivity" />
        <activity android:name=".ui.CreateTimingActivity" />
        <activity android:name=".ui.ExcellentDistributionContentActivity"></activity>
        <activity android:name=".ui.ExcellentDistributionListActivity">
        </activity>
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegisterActivity" />
        <activity android:name=".ui.RegisterSchoolActivity" />
        <activity android:name=".ui.ReportCalendarActivity">
        </activity>
        <activity android:name=".ui.PatternAnalysisPage5">

        </activity>
        <activity android:name=".ui.PatternAnalysisPage2Activity">
        </activity>
        <activity android:name=".ui.PatternAnalysisPage3Activity">
        </activity>
        <activity android:name=".ui.PatternAnalysisPage1Activity">
        </activity>
        <activity android:name=".ui.PatternAnalysisPage4">
        </activity>
        <activity android:name=".ui.PatternAnalysisPage6">
        </activity>
        <activity android:name=".ui.ReportFormActivity">
        </activity>
        <activity android:name=".ui.PatternAnalysisPage7Activity">
        </activity>
        <activity android:name=".ui.ReportFormDayActivity">
        </activity>
        <receiver
            android:name=".model.moudle.Receivers.AlarmReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>