<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.srdp.admin.time_manager">
    <application
        android:name="com.srdp.admin.time_manager.model.moudle.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Person_Infor">
        </activity>
        <activity android:name=".ui.Timesharing_edit">
        </activity>
        <activity android:name=".ui.Index_Timing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Plan_Table">
        </activity>
        <activity android:name=".ui.assign_table">
        </activity>
        <activity android:name=".ui.Person_Center">
        </activity>
        <activity android:name=".ui.CreateScheduleActivity">
        </activity>
        <activity android:name=".ui.CreateTimingActivity">
        </activity>
        <activity android:name=".ui.ExcellentDistributionContentActivity">
        </activity>
        <activity android:name=".ui.ExcellentDistributionListActivity">
        </activity>
        <activity android:name=".ui.LoginActivity">
        </activity>
        <activity android:name=".ui.RegisterActivity">
        </activity>
        <activity android:name=".ui.RegisterSchoolActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>
