/AffairManager.class
/CollectionManager.class
/EventHourManager.class
/LabelManager.class
/LikeManager.class
/S_AffairManager.class
/ScheduleManager.class
/SharedTableManager.class
/SqlServerManager.class
/TimeSharingManager.class
/TokenManager.class
/UserManager.class
